
header {
    background-color: #01225a;
    color: #fbfcfa;
}

.container.d-flex.justify-content-between.align-items-center {
    background-color: #d6e7fd;
    padding: 10px;
    border-radius: 8px;
}

.nav-link {
    color: #fbfcfa;
}

.nav-link:hover {
    color: #fcba23;
}

#library {
    background-color: #01225a;
    padding-top: 30px;
}

.btn-secondary {
    background-color: #496f9d;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}

.btn-secondary:hover {
    background-color: #6388b8;
    transform: scale(1.05);
}

#home h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #01225a;
}

#home p {
    font-size: 1.25rem;
    color: #243773;
}

footer {
    background-color: #01225a;
    color: #fbfcfa;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}
